@{
    ViewData["Title"] = "İletişim";
}

<div class="text-center">

    <br />
    <br />
    <h3>Ihlamur Sokak Menekşe Apartmanı No:5</h3>
    <h3>Çankaya/Ankara</h3>
    <h3>E-posta Adresi</h3>
    <h3><a href="mailto:test4@gmail.com">E-posta Gönder</a></h3>

</div>

